
*{
  font-family:"DM Sans" ;
}

.header-details {
  background-size: cover;
  background-position: initial;
  color: white;
  padding-top: 6px;
  padding-bottom: 260px;
  padding-left: 80px;
}

div.details-container{
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.details-container .movie-image {
  transform: translate(100px, -50px);
  width: 269px;
  height: 397px;
  margin: 0px 100px 0px 0px;
}

ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  color: white;
}

div.details{
  margin: 40px;
  width: 40%;
}
.year{
  
}
